@use 'main';

$purple: #4e50b8;
$orange: #f0916e;
$gray: #414464;
$light-gray: #f9f9f9;
$font-stack: 'Open Sans', sans-serif;

// Main code

.nav {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-between;
  background: #fff;
  padding: 20px;
  top: 0;
}

.title {
  display: flex;
  justify-content: space-between;
  align-items: center;

  .fa-circle {
    margin-left: 5px;
    font-size: 0.6em;
  }
}

.main {
  display: flex;
  flex-direction: column;
  padding: 10px;
  overflow: scroll;
  margin-top: 10px;
}

.chat {
  display: block;
  margin-bottom: 80px;
}

.user-msg {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.u-text {
  background: #8000804d;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
  text-align: right;
}

.time {
  color: #bdb2b2;
}

.user2-msg {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.m-text {
  background: #9b8f9b4d;
  padding: 10px;
  border-radius: 10px;
  width: 250px;
}

.chat-send {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 20px;
  width: 100%;
  position: fixed;
  bottom: 0;
  background: #fff;
}

.fa-paperclip {
  color: #b8b8b5;
}

.fa-caret-square-up {
  color: $purple;
}

.input {
  padding: 10px;
  border-radius: 5px;
  width: 80%;
  border: none;
  background: #c3c4c7;

  &::placeholder {
    color: white;
  }
}

.chat-list {
  display: none;
}

@media screen and (min-width: 1024px) {
  .main {
    display: flex;
    flex-direction: row;
  }

  .nav {
    display: none;
  }

  .header {
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;
    margin-bottom: 10px;
  }

  .user-detail {
    display: block;
    margin-top: 20px;
    margin-left: 80px;
    max-width: 33.3333%;
  }

  .user-profile {
    display: flex;
    background: #fff;
    padding: 20px;
    border-radius: 10px;
    color: #706c6c;
    justify-content: space-between;
    align-items: center;

    .user-profile-img {
      width: 100px;
      border-radius: 5px;
    }
  }

  .user-extra-info {
    margin-top: -20px;
    padding-bottom: 10px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #fff;

    .likes {
      color: $orange;
    }

    .btn-premium {
      border: none;
      background: $purple;
      color: white;
      padding: 10px 30px;
      border-radius: 5px;
    }
  }

  .menu {
    margin-top: 20px;

    ul {
      list-style: none;

      .menu-link {
        margin: 20px;
        text-decoration: none;
        font-size: 1.2em;
        color: #9796a1;
      }
    }
  }

  .chat-list {
    display: block;
    overflow: scroll;
    height: 80vh;

    .chat-box {
      display: flex;
      flex-wrap: nowrap;
      margin: 10px;
      background: #fff;
      padding: 10px;
      border-radius: 5px;

      img {
        width: 50px;
        height: 50px;
        border-radius: 5px;
      }

      .chat-msg {
        margin-left: 10px;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;

        .msg {
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &:last-child {
        margin-bottom: 80px;
      }
    }
  }

  .chat-detail {
    display: flex;
    width: 33.33%;

    .chat-det {
      width: 100%;
    }
  }

  .user-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
  }

  .u-text {
    background: #8000804d;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
    text-align: right;
  }

  .time {
    color: #bdb2b2;
  }

  .user2-msg {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }

  .m-text {
    background: #9b8f9b4d;
    padding: 10px;
    border-radius: 10px;
    width: 250px;
  }

  .chat-send {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 20px;
    width: 33.33%;
    position: fixed;
    bottom: 0;
    background: #fff;
  }

  .fa-paperclip {
    color: #b8b8b5;
  }

  .fa-caret-square-up {
    color: $purple;
  }

  .input {
    padding: 10px;
    border-radius: 5px;
    width: 80%;
    border: none;
    background: #c3c4c7;

    &::placeholder {
      color: white;
    }
  }
}
