$purple: #4e50b8;
$orange: #f0916e;
$gray: #414464;
$mid-gray: #a1a1a1;
$light-gray: #f9f9f9;
$white: #ffffff;
$lighter-gray: #fafafa;
$font-stack: 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $lighter-gray;
    font-family: $font-stack;
}

.header {
  display: none;
}


.nav-mob {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  padding: 20px;
  background: #fff;
  position: sticky;
  top: 0;
  width: 100%;
  z-index: 10;
}

  .chat-list {
    overflow-y: scroll;
  }

.chat-box {
  display: flex;
  flex-wrap: nowrap;
  margin: 10px;
  background: #fff;
  padding: 10px;
  border-radius: 5px;
  img {
    width: 50px;
    height: 50px;
    border-radius: 5px;
  }
  .chat-msg {
    margin-left: 10px;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    .msg {
    overflow: hidden;
    text-overflow: ellipsis;
  }
  }
  &:last-child {
    margin-bottom: 80px;
  }
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  display: flex;
  background: #fff;
  justify-content: space-around;
  .foot-btn {
    padding: 20px;
    border: none;
    background: #fff;
    width: 100%;
    &:focus {
      outline: none;

    }
    &:hover {
      background: #4e50b831;
      color: white;
      border-top: 1px solid $purple;
    }
    &:active {
      background: #4e50b831;
      color: white;
      border-top: 1px solid $purple;
    }
  }
}


@media screen and (min-width: 1024px) {

}