

// Variables

$purple: #4e50b8;
$orange: #f0916e;
$gray: #414464;
$light-gray: #f9f9f9;
$font-stack: 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fafafa;
    font-family: $font-stack;
}

.flex-center {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


// Navbar
.header {
    display: flex;
    justify-content: space-around;
    background: white;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}

.col-4 {
    display: flex;
    align-items: center;
}

#ccnw {
    width: 30px;
    margin-right: 10px;
    background: #e0e0e0;
    padding: 5px;
    fill: white;
    border-radius: 5px;
}

.col-sm-4 {
    display: none;
}

.col-md-4 h1 {
    font-weight: 800;
}

.purple-font {
    color: $purple;
}

.orange-font {
    color: $orange
}

.text-color-gray {
    color: #a9a9a9
}

// Main

.main {
    display: flex;
    justify-content: space-around;
}

// Profile menu
.main-profile {
    margin-top: 20px;
    padding-top: 10px;
    background: #ffffff;
}

.user-profile {
    display: flex;
    padding: 10px;
    align-items: center;
}


.user-pic {
    width: 50px;
    border-radius: 10px;
    margin-right: 10px;
}
.fa-cog {
    margin-left: 30px;
    color: #e0e0e0;
}

.user-extra-info {
    padding: 0 10px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.fa-heart {
    color: $orange;
}

.btn-premium {
    margin-left: 40px;
    border: none;
    padding: 10px;
    width: 70%;
    border-radius: 5px;
    background: $purple;
    color: #ffffff;
}

.menu {
    margin-top: 20px;
    color: #cecece;
    ul {
        li {
            margin-top: 10px;
            font-size: 1.2em;
            list-style: none;
        }
    }
}

.menu-link {
    text-decoration: none;
    color: #cecece;
    font-weight: bold;
}

// Mid Column
.img-gallery {
    margin: 20px auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .fa-ellipsis-v {
        color: #d0d0d0;
        margin-left: 10px;
    }
    img {
        margin-left: 20px;
        width: 5%;
        border-radius: 5px;
    }
}

.img-selected {
    display: flex;
  position: relative;
    img {
        width: 10%;
        border-radius: 5px;
    }
    .fa-times-circle {
        color: $orange;
        align-self: center;
        margin-left: -8px;
        background: white;
    }
}

.main-img-container {
    margin-top: 10px;
    width: 50%;
}

.main-img {
    border-radius: 10px;
    width: 100%;
    height: 50%;
}


// Right column
.right-col {
    width: 300px;
}

.patron {
    margin-top: 20px;
    padding: 10px;
    background: #ffffff;
    border-radius: 5px;
    .king-patron {
        display: flex;
        img {
            margin: 10px;
            width: 50px;
        }
        .text {
            h1 {
                color: #c3c3c3;
            }
            p {
                color: #e0e0e0;
                font-size: 0.8em;
            }
        }
    }
}

.btn-purchase {
    margin-top: 10px;
    width: 100%;
    background: $purple;
    border-radius: 5px;
    color: #fff;
    border: none;
    padding: 10px;
}

.search-filter {
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    background: #ffffff;
    display: flex;
    justify-content: space-between;

    .fa-sliders-h {
        color: $purple;
    }
}

.user-info-big {
    border-radius: 5px;
    margin-top: 20px;
    padding: 20px;
    background: #ffffff;
}

.small {
    font-size: 0.8em;
    color: #d0d0d0;
}

.fa-circle {
    color: green;
    font-size: 0.8em;
}
.line {
    height: 2px;
    background: #d0d0d0;
}


.user-info-detail {
    border-radius: 0 5px;
    padding: 20px;
    background: #ffffff;
}

.btn-profile {
    margin: 10px 0;
    width: 100%;
    border: none;
    border-radius: 5px;
    padding: 10px;
    color: #414464;
    font-weight: bold;
    background: #d0d0d0;
}

.gift {
    border-radius: 0 5px;
    padding: 20px;
    background: #ffffff;
    display: flex;
    img {
        width: 50px;
        height: 50px;
        margin: 5px;
    }
    .text {
        h3 {
            font-weight: bolder;
            font-size: 1em;
        }
        p {
            font-size: 0.8em;
            color: #d0d0d0;
        }
    }
}

@media (max-width: 1024px) {
    //navbar
     .col-sm-4 {
         display: flex;
     } 
    .col-4 {
        display: none;
    }

    .left-col, .right-col {
        display: none;
    }
}