

// Variables

$purple: #4e50b8;
$orange: #f0916e;
$gray: #414464;
$light-gray: #f9f9f9;
$font-stack: 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: #fafafa;
    font-family: $font-stack;
}

.header {
    display: flex;
    justify-content: space-around;
    background: white;
    align-items: center;
    padding: 20px 0;
    width: 100%;
}

.col-4 {
    display: flex;
    align-items: center;
}

#ccnw {
    width: 30px;
    margin-right: 10px;
    background: #e0e0e0;
    padding: 5px;
    fill: white;
    border-radius: 5px;
}

.col-sm-4 {
    display: none;
}

.col-md-4 h1 {
    font-weight: 800;
}

.purple-font {
    color: $purple;
}

.orange-font {
    color: $orange
}

@media (max-width: 1024px) {
     .col-sm-4 {
         display: flex;
     } 
    .col-4 {
        display: none;
    }
}