

// Variables

$purple: #4e50b8;
$orange: #f0916e;
$gray: #414464;
$mid-gray: #a1a1a1;
$light-gray: #f9f9f9;
$white: #ffffff;
$lighter-gray: #fafafa;
$font-stack: 'Open Sans', sans-serif;

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background-color: $lighter-gray;
    font-family: $font-stack;
}



.nav-icons-lg {
    display: none;
}

.nav-logo{
    h1 {
        font-size: 3em;
        font-weight: bold;
    }
}

.purple-font {
    color: $purple;
}

.orange-font {
    color: $orange;
}

.img-gallery {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.fa-ellipsis-v {
    color:  $mid-gray;
}

.selected-img {
    position: relative;
    border-radius: 20px;
    margin: 5px;
    display: flex;
    align-items: center;
}

.circle {
    margin-left: -20px;
    place-items: center;
    color: $white;
    font-weight: bold;
    background: $orange;
    width: 20px;
    height: 20px;
    border-radius: 100%;   
}

.x {
    margin-left: 5px;
    margin-bottom: 9px;
    align-self: center;
}

.img-icon {
    margin: 10px;
    border-radius: 10px;
    width: 50px;
}

.icon-hide {
    display: none;
}

.img-gallery {
    display: none;
}

.main-img {
    display: flex;
    justify-content: space-between;
    position: relative;
    border-radius: 0 0 20px 20px;
    height: 60vh;
    background: url('https://source.unsplash.com/UoToEUc7aSg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    box-shadow: 2x 2px $light-gray;
}

.fa-arrow-left {
    color: $white;
    margin-left: 10px;
    margin-top: 10px;
}

.scroll {
    position: absolute;
    top: 10px;
    right: 10px;
    .square {
        margin-top: 5px;
        background: $gray;
        height: 20px;
        width: 20px;
        border-radius: 5px;
    }
    .square.orange {
        background: $orange;
    }
}

.buttons {
    display: flex;
    justify-content: space-around;
    .btn {
        z-index: 10;
        margin-top: -30px;
        padding: 20px;
        background: $white;
        color: $mid-gray;
        box-shadow: 2px 2px  2px 2px$gray;
    }
    
}
.btn.purple-bg {
    background: $purple;
    color: $white;
}

.btn.orange-bg {
    background: $orange;
    color: $white;
}

.header {
    display: none;
}



@media screen and (min-width: 1024px) {
    .header {
        display: flex;
        justify-content: space-around;
        align-items: center;
        background: $white;
        margin-bottom: 10px;
    }

    .nav-icons-lg {
        display: flex;
        align-items: center;
    }

    .nav-icons-sm {
        display: none;
    }

    .main-img {
        background-position: center;
        background-size: auto;
        height: 100vh;
    }

   
}