* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  background-color: #fafafa;
  font-family: "Open Sans", sans-serif;
}

.flex-center {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.header {
  display: flex;
  justify-content: space-around;
  background: white;
  align-items: center;
  padding: 20px 0;
  width: 100%;
}

.col-4 {
  display: flex;
  align-items: center;
}

#ccnw {
  width: 30px;
  margin-right: 10px;
  background: #e0e0e0;
  padding: 5px;
  fill: white;
  border-radius: 5px;
}

.col-sm-4 {
  display: none;
}

.col-md-4 h1 {
  font-weight: 800;
}

.purple-font {
  color: #4e50b8;
}

.orange-font {
  color: #f0916e;
}

.text-color-gray {
  color: #a9a9a9;
}

.main {
  display: flex;
  justify-content: space-around;
}

.main-profile {
  margin-top: 20px;
  padding-top: 10px;
  background: #ffffff;
}

.user-profile {
  display: flex;
  padding: 10px;
  align-items: center;
}

.user-pic {
  width: 50px;
  border-radius: 10px;
  margin-right: 10px;
}

.fa-cog {
  margin-left: 30px;
  color: #e0e0e0;
}

.user-extra-info {
  padding: 0 10px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.fa-heart {
  color: #f0916e;
}

.btn-premium {
  margin-left: 40px;
  border: none;
  padding: 10px;
  width: 70%;
  border-radius: 5px;
  background: #4e50b8;
  color: #ffffff;
}

.menu {
  margin-top: 20px;
  color: #cecece;
}

.menu ul li {
  margin-top: 10px;
  font-size: 1.2em;
  list-style: none;
}

.menu-link {
  text-decoration: none;
  color: #cecece;
  font-weight: bold;
}

.img-gallery {
  margin: 20px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.img-gallery .fa-ellipsis-v {
  color: #d0d0d0;
  margin-left: 10px;
}

.img-gallery img {
  margin-left: 20px;
  width: 5%;
  border-radius: 5px;
}

.img-selected {
  display: flex;
  position: relative;
}

.img-selected img {
  width: 10%;
  border-radius: 5px;
}

.img-selected .fa-times-circle {
  color: #f0916e;
  align-self: center;
  margin-left: -8px;
  background: white;
}

.main-img-container {
  margin-top: 10px;
  width: 50%;
}

.main-img {
  border-radius: 10px;
  width: 100%;
  height: 50%;
}

.right-col {
  width: 300px;
}

.patron {
  margin-top: 20px;
  padding: 10px;
  background: #ffffff;
  border-radius: 5px;
}

.patron .king-patron {
  display: flex;
}

.patron .king-patron img {
  margin: 10px;
  width: 50px;
}

.patron .king-patron .text h1 {
  color: #c3c3c3;
}

.patron .king-patron .text p {
  color: #e0e0e0;
  font-size: 0.8em;
}

.btn-purchase {
  margin-top: 10px;
  width: 100%;
  background: #4e50b8;
  border-radius: 5px;
  color: #fff;
  border: none;
  padding: 10px;
}

.search-filter {
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  background: #ffffff;
  display: flex;
  justify-content: space-between;
}

.search-filter .fa-sliders-h {
  color: #4e50b8;
}

.user-info-big {
  border-radius: 5px;
  margin-top: 20px;
  padding: 20px;
  background: #ffffff;
}

.small {
  font-size: 0.8em;
  color: #d0d0d0;
}

.fa-circle {
  color: green;
  font-size: 0.8em;
}

.line {
  height: 2px;
  background: #d0d0d0;
}

.user-info-detail {
  border-radius: 0 5px;
  padding: 20px;
  background: #ffffff;
}

.btn-profile {
  margin: 10px 0;
  width: 100%;
  border: none;
  border-radius: 5px;
  padding: 10px;
  color: #414464;
  font-weight: bold;
  background: #d0d0d0;
}

.gift {
  border-radius: 0 5px;
  padding: 20px;
  background: #ffffff;
  display: flex;
}

.gift img {
  width: 50px;
  height: 50px;
  margin: 5px;
}

.gift .text h3 {
  font-weight: bolder;
  font-size: 1em;
}

.gift .text p {
  font-size: 0.8em;
  color: #d0d0d0;
}

@media (max-width: 1024px) {
  .col-sm-4 {
    display: flex;
  }

  .col-4 {
    display: none;
  }

  .left-col, .right-col {
    display: none;
  }
}
/*# sourceMappingURL=main.css.map */
/*# sourceMappingURL=main.css.map */

/*# sourceMappingURL=main.css.map */
